.nav a {
    text-align: center;
    font-size: 1.8em;
}
.menu-item-title {
    margin-bottom: 25px;
    text-align: center;
  }
.menu-item-details {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    line-height: 2;
  }
.menu-item-description {
    background-color: gray;
    height: 1000px;
}
.text-center {
    margin-bottom: 25px;
}
.navbar-brand {
    font-size: 50px;
}